.theme-light {
	--ribbon-background: #382859;
}
.theme-light .workspace-ribbon {
	color: var(--background-primary);
}

.theme-light .workspace-ribbon .side-dock-actions .clickable-icon,
.theme-light .workspace-ribbon .side-dock-settings .clickable-icon {
	color: var(--background-primary);
}

.theme-dark {
	--ribbon-background: rgb(34, 22, 46);
}
