# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude sass cache
.sass-cache/*

# Exclude .env
.env

# Exclude doc
/docs/.obsidian