.theme-dark {
	--spectrum-highlighter: #852d3a;
}

.theme-light {
	--spectrum-highlighter: #f9d0c4;
}

mark.spectrum {
	background-color: var(--spectrum-highlighter) !important;
	font-style: italic;
	color: var(--text-normal);
}
