body {
	--h1-font: "Fira Sans Extra Condensed";
	--h2-font: "Fira Sans Extra Condensed";
	--h3-font: "Fira Sans Extra Condensed";
	--h4-font: "PT Serif";
	--h5-font: "PT Serif";
	--h6-font: "PT Serif";

	--h1-size: 2.3em;
	--h2-size: 2em;
	--h3-size: 1.824em;
	--h4-size: 1.266em;
	--h5-size: 1.125em;
	--h6-size: 1em;
}

.theme-dark {
	--h1-color: #e6007e;
	--h2-color: #e6007e;
	--h3-color: #e6007e;
	--h4-color: #e6007e;
	--h5-color: #e6007e;
	--h6-color: #e6007e;
}

.cm-header,
.inline-title {
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}

.inline-title {
	text-decoration: underline;
	text-decoration-thickness: 5px;
}
