body {
  --font-text: "PT Serif";
}

.cm-header,
.inline-title {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.inline-title {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}
