.canvas-node-container {
  text-align: center;
}

.canvas-node-container .is-loaded {
  text-align: left;
}

.canvas-node-container {
  border-width: 0;
}
.is-focused.canvas-node .canvas-node-container {
  border-width: 2px;
}
.canvas-wrapper {
  --shadow-stationary: none;
}

.canvas-node-group .canvas-node-content {
  background-color: transparent;
}

.canvas-group-label {
  display: none;
}
