/* Designed to be compatible with the Advanced Canvas plugin.
 * It requires the user to create a CSS Snippet with the following content:
 */

/* @advanced-canvas-node-style
key: iceberg-card
label: Iceberg Card
options:
  -
    label: Location
    value: location
    icon: building-2

  -
    label: Character
    value: character
    icon: user

  -
    label: Group
    value: group
    icon: users

  -
    label: Sticky Note
    value: sticky-note
    icon: sticky-note

  -
    label: Unset
    value: null
    icon: eye-off
*/

@mixin cards {
	.canvas-node[data-iceberg-card] {
		--shadow-stationary: #00000050 -5px 5px 20px 1px;
		--canvas-card-border-style: none;
	}

	.canvas-node[data-iceberg-card] .canvas-node-container {
		border-radius: 0;
		border: none;
	}

	.canvas-node[data-iceberg-card] .canvas-node-content {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		--font-text: "Courier Prime", monospace;
	}

	.canvas-node-iframe-body[data-iceberg-card] .cm-scroller {
		--font-text: "Courier Prime", monospace;
		text-align: center;
	}

	.canvas-node[data-iceberg-card] .canvas-node-content::before {
		content: "";
		width: 100%;
		aspect-ratio: 16 / 9;

		background-repeat: no-repeat;
		background-position: bottom center;
		background-color: #515151;
		background-size: contain;
	}

	.canvas-node[data-iceberg-card="sticky-note"] .canvas-node-container {
		background-color: #f1e0aa;
		--embed-background: #f1e0aa;
	}

	.canvas-node-iframe-body[data-iceberg-card="sticky-note"] {
		background-color: #f1e0aa;
	}

	.canvas-node[data-iceberg-card="sticky-note"] .canvas-node-content::before {
		content: none;
		display: none;
	}

	.canvas-node[data-iceberg-card="location"] .canvas-node-content::before {
		background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 800' width='800' height='800'%3E%3Ctitle%3EObjeto inteligente vectorial2-ai%3C/title%3E%3Cstyle%3E .s0 %7B fill: %23939598 %7D %3C/style%3E%3Cg id='Objects'%3E%3Cpath id='&lt;Compound Path&gt;' fill-rule='evenodd' class='s0' d='m800 775.5v24.2h-800v-24.2h15v-559.9h30.9v-74.4h19.9v-19.7h24.1v-24.2h35.6l8.8-70.3h4.2l8.8 70.3h35.5v24.2h24.1v19.7h19.9v74.4h30.9v156.8h165.7v403.1h34.1v-561.2h320.7v561.2zm-627.6-600.2h28v-25.2h-28zm-100.1-0.2h28.1v-25.1h-28.1zm0 34.3h28.1v-25.1h-28.1zm-37 546.7h39.2v-39.2h-39.2zm0-60.3h39.2v-39.2h-39.2zm0-91.6h39.2v-39.3h-39.2zm0-60.3h39.2v-39.2h-39.2zm0-60.3h39.2v-39.3h-39.2zm0-91.6h39.2v-39.2h-39.2zm0-60.3h39.2v-39.2h-39.2zm0-60.3h39.2v-39.3h-39.2zm64.7 485.2h39.2v-39.3h-39.2zm0-60.3h39.2v-39.2h-39.2zm0-91.6h39.2v-39.3h-39.2zm0-60.3h39.2v-39.2h-39.2zm0-60.3h39.2v-39.3h-39.2zm0-91.6h39.2v-39.2h-39.2zm0-60.3h39.2v-39.2h-39.2zm0-60.3h39.2v-39.3h-39.2zm22.3-62h28.1v-25.2h-28.1zm0-34.4h28.1v-25.1h-28.1zm50.1 34.3h28v-25.1h-28zm19.8 547.3h39.2v-39.2h-39.2zm0-60.4h39.2v-39.2h-39.2zm0-92h39.2v-39.3h-39.2zm0-60.3h39.2v-39.2h-39.2zm0-60.3h39.2v-39.2h-39.2zm0-91.7h39.2v-39.2h-39.2zm0-60.3h39.2v-39.2h-39.2zm0-60.3h39.2v-39.3h-39.2zm91.3 158.5h39.1v-35.1h-39.1zm0 47.9h39.1v-35.1h-39.1zm0 45.8h39.1v-35.1h-39.1zm0 72.6h39.1v-35.1h-39.1zm0 45.8h39.1v-35.1h-39.1zm0 48h39.1v-35.1h-39.1zm22.6 100.5h63.6v-80.8h-63.6zm47.1-100.2h39.2v-35.1h-39.2zm0-47.9h39.2v-35.1h-39.2zm0-45.7h39.2v-35.1h-39.2zm0-72.6h39.2v-35.1h-39.2zm0-45.8h39.2v-35.1h-39.2zm0-47.9h39.2v-35.1h-39.2zm280.2-134.4h44.7v-44.7h-44.7zm0 68.8h44.7v-44.8h-44.7zm0 68.8h44.7v-44.7h-44.7zm0 68.8h44.7v-44.7h-44.7zm0 68.7h44.7v-44.7h-44.7zm-146-275.5h44.8v-44.7h-44.8zm0 68.8h44.8v-44.8h-44.8zm0 68.8h44.8v-44.7h-44.8zm0 68.8h44.8v-44.8h-44.8zm0 68.8h44.8v-44.7h-44.8zm0 68.8h44.8v-44.8h-44.8zm29 150.3h57.3v-90.7h-57.3zm44-149.9h44.7v-44.7h-44.7zm0-68.8h44.7v-44.8h-44.7zm0-68.8h44.7v-44.7h-44.7zm0-68.8h44.7v-44.7h-44.7zm0-68.8h44.7v-44.8h-44.7zm0-68.8h44.7v-44.7h-44.7zm73 344h44.7v-44.8h-44.7zm29.7 149.9h57.4v-90.6h-57.4zm43.3-149.9h44.7v-44.8h-44.7zm0-68.8h44.7v-44.7h-44.7zm0-68.8h44.7v-44.7h-44.7zm0-68.8h44.7v-44.8h-44.7zm0-68.8h44.7v-44.7h-44.7zm0-68.8h44.7v-44.7h-44.7z'/%3E%3C/g%3E%3C/svg%3E");
	}

	.canvas-node[data-iceberg-card="character"] .canvas-node-content::before {
		background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 800' width='800' height='800'%3E%3Ctitle%3EObjeto inteligente vectorial2-ai%3C/title%3E%3Cstyle%3E .s0 %7B fill: %237f7f7f %7D %3C/style%3E%3Cpath id='&lt;Path&gt;' class='s0' d='m798.4 792.3c-7.3-36.9-14.3-74.1-24.2-110.2-7-25.6-18.3-50-28.6-74.6-3.5-8.4-9.4-15.3-19.6-18-48.8-13.2-97.6-26.7-146.3-40.4-23.3-6.6-46.5-13.8-70.7-21-1.2 0.7-9.7-11.1-15.6-18.3l-0.6-9.2-0.1-0.1c-0.7-15.7-2.5-31.2-2.9-47-0.2-4.8 2.4-10.1 4.8-14.6 4.6-9 11.3-17.2 14.8-26.6 4.5-12.4 6.8-25.6 10-38.8 12.2 4.8 14.7-4.9 15.8-12.4 3.6-23 6.5-46.1 8.4-69.3 1.1-13.1-2.1-14.7-15.6-11.6 1.3-27.7 3.1-55 3.8-82.4 0.8-35.8-13-65.3-43.2-84.9-55.8-36.5-120.8-38-178.7 0.3-35.3 23.2-52.2 56.8-48.4 100 1.9 21.8 2.1 43.8 3.1 66.5-12.7-3.7-16.4-2.2-15.5 8.9 2 24.8 5.4 49.5 8.9 74.2 1.2 8.3 5.6 14.3 16.4 9.2 1.7 26.1 9.4 48.6 24.3 67.5 0 0 0 0.1 0.1 0.1 4.9 6.7 3.8 20.5 3.8 20.5 0 19.1-0.2 35.8 0.1 52.4l-1.7 2.8v0.1c-6.4 7.7-12.9 19.8-15.8 20.6-62.3 18.4-133.3 34.5-196.1 51.2-20 5.4-32.4 16.2-41 33.5-3.8 7.3-7.5 14.6-10.5 22.3-17.8 45.4-28.8 92.7-35 141-4.4 34.2-7.7 35.5 28.7 47.6 42.7 14.2 86.7 25 130.8 34.2 67.1 14.3 135 23.5 203.6 25.9 102.2 3.5 203.2-7.7 303.1-29 38.1-8.1 76.1-17.3 111.4-34.7 19.2-9.5 22.4-14.9 18.2-35.7z'/%3E%3C/svg%3E");
	}

	.canvas-node[data-iceberg-card="group"] .canvas-node-content::before {
		background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1332 800' width='1332' height='800'%3E%3Cstyle%3E.a%7Bfill:%237f7f7f%7D.b%7Bfill:%237f7f7f;stroke:%23515151;paint-order:stroke fill markers;stroke-linejoin:round;stroke-width:40%7D%3C/style%3E%3Cpath class='a' d='m700.4 791.3c-7.3-36.9-14.3-74.1-24.2-110.2-7-25.6-18.3-50-28.6-74.6-3.5-8.4-9.4-15.3-19.6-18-48.8-13.2-97.6-26.7-146.3-40.4-23.3-6.6-46.5-13.8-70.7-21-1.2 0.7-9.7-11.1-15.6-18.3l-0.6-9.2-0.1-0.1c-0.7-15.7-2.5-31.2-2.9-47-0.2-4.8 2.4-10.1 4.8-14.6 4.6-9 11.3-17.2 14.8-26.6 4.5-12.4 6.8-25.6 10-38.8 12.2 4.8 14.7-4.9 15.8-12.4 3.6-23 6.5-46.1 8.4-69.3 1.1-13.1-2.1-14.7-15.6-11.6 1.3-27.7 3.1-55 3.8-82.4 0.8-35.8-13-65.3-43.2-84.9-55.8-36.5-120.8-38-178.7 0.3-35.3 23.2-52.2 56.8-48.4 100 1.9 21.8 2.1 43.8 3.1 66.5-12.7-3.7-16.4-2.2-15.5 8.9 2 24.8 5.4 49.5 8.9 74.2 1.2 8.3 5.6 14.3 16.4 9.2 1.7 26.1 9.4 48.6 24.3 67.5 0 0 0 0.1 0.1 0.1 4.9 6.7 3.8 20.5 3.8 20.5 0 19.1-0.2 35.8 0.1 52.4l-1.7 2.8v0.1c-6.4 7.7-12.9 19.8-15.8 20.6-62.3 18.4-133.3 34.5-196.1 51.2-20 5.4-32.4 16.2-41 33.5-3.8 7.3-7.5 14.6-10.5 22.3-17.8 45.4-28.8 92.7-35 141-4.4 34.2-7.7 35.5 28.7 47.6 42.7 14.2 86.7 25 130.8 34.2 67.1 14.3 135 23.5 203.6 25.9 102.2 3.5 203.2-7.7 303.1-29 38.1-8.1 76.1-17.3 111.4-34.7 19.2-9.5 22.4-14.9 18.2-35.7z'/%3E%3Cpath class='a' d='m1428.4 791.3c-7.3-36.9-14.3-74.1-24.2-110.2-7-25.6-18.3-50-28.6-74.6-3.5-8.4-9.4-15.3-19.6-18-48.8-13.2-97.6-26.7-146.3-40.4-23.3-6.6-46.5-13.8-70.7-21-1.2 0.7-9.7-11.1-15.6-18.3l-0.6-9.2-0.1-0.1c-0.7-15.7-2.5-31.2-2.9-47-0.2-4.8 2.4-10.1 4.8-14.6 4.6-9 11.3-17.2 14.8-26.6 4.5-12.4 6.8-25.6 10-38.8 12.2 4.8 14.7-4.9 15.8-12.4 3.6-23 6.5-46.1 8.4-69.3 1.1-13.1-2.1-14.7-15.6-11.6 1.3-27.7 3.1-55 3.8-82.4 0.8-35.8-13-65.3-43.2-84.9-55.8-36.5-120.8-38-178.7 0.3-35.3 23.2-52.2 56.8-48.4 100 1.9 21.8 2.1 43.8 3.1 66.5-12.7-3.7-16.4-2.2-15.5 8.9 2 24.8 5.4 49.5 8.9 74.2 1.2 8.3 5.6 14.3 16.4 9.2 1.7 26.1 9.4 48.6 24.3 67.5 0 0 0 0.1 0.1 0.1 4.9 6.7 3.8 20.5 3.8 20.5 0 19.1-0.2 35.8 0.1 52.4l-1.7 2.8v0.1c-6.4 7.7-12.9 19.8-15.8 20.6-62.3 18.4-133.3 34.5-196.1 51.2-20 5.4-32.4 16.2-41 33.5-3.8 7.3-7.5 14.6-10.5 22.3-17.8 45.4-28.8 92.7-35 141-4.4 34.2-7.7 35.5 28.7 47.6 42.7 14.2 86.7 25 130.8 34.2 67.1 14.3 135 23.5 203.6 25.9 102.2 3.5 203.2-7.7 303.1-29 38.1-8.1 76.1-17.3 111.4-34.7 19.2-9.5 22.4-14.9 18.2-35.7z'/%3E%3Cpath class='b' d='m1064.4 792.3c-7.3-36.9-14.3-74.1-24.2-110.2-7-25.6-18.3-50-28.6-74.6-3.5-8.4-9.4-15.3-19.6-18-48.8-13.2-97.6-26.7-146.3-40.4-23.3-6.6-46.5-13.8-70.7-21-1.2 0.7-9.7-11.1-15.6-18.3l-0.6-9.2-0.1-0.1c-0.7-15.7-2.5-31.2-2.9-47-0.2-4.8 2.4-10.1 4.8-14.6 4.6-9 11.3-17.2 14.8-26.6 4.5-12.4 6.8-25.6 10-38.8 12.2 4.8 14.7-4.9 15.8-12.4 3.6-23 6.5-46.1 8.4-69.3 1.1-13.1-2.1-14.7-15.6-11.6 1.3-27.7 3.1-55 3.8-82.4 0.8-35.8-13-65.3-43.2-84.9-55.8-36.5-120.8-38-178.7 0.3-35.3 23.2-52.2 56.8-48.4 100 1.9 21.8 2.1 43.8 3.1 66.5-12.7-3.7-16.4-2.2-15.5 8.9 2 24.8 5.4 49.5 8.9 74.2 1.2 8.3 5.6 14.3 16.4 9.2 1.7 26.1 9.4 48.6 24.3 67.5 0 0 0 0.1 0.1 0.1 4.9 6.7 3.8 20.5 3.8 20.5 0 19.1-0.2 35.8 0.1 52.4l-1.7 2.8v0.1c-6.4 7.7-12.9 19.8-15.8 20.6-62.3 18.4-133.3 34.5-196.1 51.2-20 5.4-32.4 16.2-41 33.5-3.8 7.3-7.5 14.6-10.5 22.3-17.8 45.4-28.8 92.7-35 141-4.4 34.2-7.7 35.5 28.7 47.6 42.7 14.2 86.7 25 130.8 34.2 67.1 14.3 135 23.5 203.6 25.9 102.2 3.5 203.2-7.7 303.1-29 38.1-8.1 76.1-17.3 111.4-34.7 19.2-9.5 22.4-14.9 18.2-35.7z'/%3E%3C/svg%3E");
	}
}
