@import "./assets/fonts";

@import "./window/ribbon";

@import "./editor/heading";
@import "./editor/link";

@import "./callout/clue";
@import "./callout/description";

@import "./special/danger";
@import "./special/spectrum";
@import "./special/status";
@import "./special/tag";

/**----------------------------------
GENERAL
----------------------------------**/
body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;

	--accent-h: 327.13;
	--accent-s: 100%;
	--accent-l: 45%;

	--font-text: "PT Serif";

	--checkbox-color: #e6007e;
	--checkbox-color-hover: #e9399a;
	--checkbox-marker-color: #f2f2f0;

	--tag-color: #e6007e;
	--tag-background: #e7e7e7;
	--tag-weight: bold;

	--divider-color-hover: #e6007e;
}

.theme-dark {
	--background-primary: #2d2040;
	--background-secondary: #382859;

	--titlebar-background-focused: hsl(260, 38%, 24%);

	--interactive-normal: rgb(64, 45, 94);
	--interactive-hover: rgb(60, 43, 88);

	--background-modifier-hover: rgb(60, 43, 88);
	--background-modifier-border-hover: rgb(60, 43, 88);
	--background-modifier-form-field: rgb(64, 45, 94);

	--slider-track-background: rgb(68, 51, 95);
}

.theme-light {
	--background-primary: #f2f2f0;
	--background-secondary: #f2f0eb;
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
