.callout[data-callout="description"] {
  --callout-color: 0, 0, 0;
  background-color: unset;
  font-family: Courier, monospace;
  padding-left: 1em;
  font-size: 0.9em;
  color: var(--text-normal);
}
.callout[data-callout="description"] .callout-icon {
  display: none;
}
.callout[data-callout="description"] .callout-title-inner {
  font-weight: normal;
  line-height: var(--line-height-normal);
  color: var(--text-normal);
}
